<div class="color-for-font">
  <div class="container-md">
    <div class="row">
      <div class="col-12 mt-3">
        <h1>Our homes in your region</h1>
      </div>
    </div>
  </div>
<div class="search-form-control form-group">
  <div>
    <%= form_tag carehomes_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
    params[:query],
    class: "form-control string required",
    placeholder: "Find a Carehome"
    %>
  <%= submit_tag "Search", class: "btn btn-flat"%>
<% end %>
  </div>
</div>
<br>
  <div class="d-flex mt-5 justify-content-center">
    <div class="carehomes-cards">
      <% @carehomes.each do |carehome| %>
        <div class="carehome-card">
          <%= link_to carehome_path(carehome) do %>
            <div
            class="carehome-card-image"
            style= "background-image: url('<%= image_path("default-carehome.jpg") %>')">
            </div>
            <div class="carehome-card-header d-flex justify-content-between">
              <div class="carehome-card-content">
                <h5><%= carehome.name %></h5>
                <p><%= carehome.address %></p>
              </div>
              <div class="carehome-card-rating">
                <p><%= carehome.reviews.average(:rating)
                  image_tag("star-solid.svg", class: "icon-rating")
                %></p>
              </div>
            </div>
            <div class="carehome-card-footer d-flex justify-content-between">
              <div class="carehome-card-icons">
                <%= carehome.wifi? ? image_tag("wifi-solid.svg", class: "icon wifi") : "" %>
                <%= carehome.bar? ? image_tag("mug-saucer-solid.svg", class: "icon bar") : "" %>
                <%= carehome.wheelchair_access? ? image_tag("wheelchair-solid.svg", class: "icon wheelchair") : "" %>
                <%= carehome.physiotherapist? ? image_tag("user-doctor-solid.svg", class: "icon physiotherapist") : "" %>
              </div>
              <div class="carehome-card-price-range">
                <%= render "carehomes/price_range", locals: { carehome: carehome } %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div id="index-map"
      class="col-4 position-sticky top-0"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  </div>
  <%= paginate @carehomes %>
</div>
