<div>
  <div class="container-md">
    <div class="row">
      <div class="col-12">
        <h1>Our homes in your region</h1>
      </div>
    </div>
  </div>
  <div class="d-flex">
    <div class="carehomes-container col-8 d-flex flex-wrap justify-content-around">
      <% @carehomes.each do |carehome| %>
        <div class="carehome-card">
          <%= link_to carehome_path(carehome) do %>
            <div
            class="carehome-card-image"
            style= "background-image: url('<%= image_path("default-carehome.jpg") %>')">
            </div>
            <div class="carehome-card-content">
              <h5><%= carehome.name %></h5>
              <p><%= carehome.address %></p>
            </div>
            <div class="carehome-card-icons">
              <%= carehome.wifi? ? image_tag("wifi-solid.svg", class: "icon wifi") : "" %>
              <%= carehome.bar? ? image_tag("mug-saucer-solid.svg", class: "icon bar") : "" %>
              <%= carehome.wheelchair_access? ? image_tag("wheelchair-solid.svg", class: "icon wheelchair") : "" %>
              <%= carehome.physiotherapist? ? image_tag("user-doctor-solid.svg", class: "icon physiotherapist") : "" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
</div>
