<div class="simple-form">
      <%= simple_form_for(@carehome) do |f| %>
        <%= f.input :address %>
        <%= f.input :name %>
        <%= f.input :price_range %>
        <%= f.input :description %>
        <%= f.input :types %>
        <%= f.input :activities %>
        <%= f.input :pets_allowed %>
        <%= f.input :wifi %>
        <%= f.input :lift %>
        <%= f.input :wheelchair_access %>
        <%= f.input :security %>
        <%= f.input :smoke_alarm %>
        <%= f.input :tv %>
        <%= f.input :parking %>
        <%= f.input :hair_salon %>
        <%= f.input :sauna %>
        <%= f.input :bar %>
        <%= f.input :air_conditioning %>
        <%= f.input :physiotherapist %>
        <%= f.submit %>
      <% end %>
    </div>
