<div class="carehome-photos">
    <img class="main-photo" src="https://www.bondcare.co.uk/wp-content/uploads/2018/01/CK3_5089-2000x1000.jpg" alt="main photo">

  <div class="gallery-photos">

  </div>
</div>

<div class="carehome-view">
  <div class="carehome-infos">
    <h2><%= @carehome.name %></h2>
    <%= link_to 'Back to list', url_for(:back), class: 'btn-back' %>
    <p><%= @carehome.description %></p>
  </div>

  <div class="carehome-favorite">
    <p>Add to favs</p>
  </div>

  <div id="show-map"
      data-controller="map-view"
      data-map-view-marker-value="<%= @marker.to_json %>"
      data-map-view-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="carehome-details">
    <p><%= image_tag("dog-solid.svg", class: "icon dog") %> Pet <%= @carehome.pets_allowed? ? 'allowed' : 'not allowed' %></p>
    <p><%= image_tag("wifi-solid.svg", class: "icon wifi") %> <%= @carehome.wifi? ? 'Wifi in room' : 'No Wifi in room' %></p>
    <p><%= image_tag("tv-solid.svg", class: "icon tv") %> <%= @carehome.tv? ? 'Tv in room' : 'No TV in room'%></p>
    <p><%= image_tag("elevator-solid.svg", class: "icon elevator") %> <%= @carehome.lift? ? 'Elevators' : 'No elevators' %></p>
    <p><%= image_tag("wheelchair-solid.svg", class: "icon wheelchair") %> <%= @carehome.wheelchair_access? ? 'Wheelchair acces' : 'No wheelchair access' %></p>
    <p><%= image_tag("car-solid.svg", class: "icon car") %> <%= @carehome.parking? ? 'Parking' : 'No parking'%></p>
    <% if @carehome.activities? %>
      <p><%= image_tag("chess-board-solid.svg", class: "icon chess") %> Activities</p>
    <% end %>
    <% if @carehome.security? %>
      <p><%= image_tag("building-shield-solid.svg", class: "icon building") %> High Security</p>
    <% end %>
    <% if @carehome.smoke_alarm? %>
      <p><%= image_tag("fire-extinguisher-solid.svg", class: "icon extinguisher") %> Fire protection system</p>
    <% end %>
    <% if @carehome.hair_salon? %>
      <p><%= image_tag("scissors-solid.svg", class: "icon scissor") %> Hair salon</p>
    <% end %>
    <% if @carehome.sauna? %>
      <p><%= image_tag("temperature-arrow-up-solid.svg", class: "icon physiotherapist") %> Sauna</p>
    <% end %>
    <% if @carehome.bar? %>
      <p><%= image_tag("mug-saucer-solid.svg", class: "icon bar") %> Bar</p>
    <% end %>
    <% if @carehome.air_conditioning? %>
      <p><%= image_tag("fan.svg", class: "icon fan") %> Air conditioning</p>
    <% end %>
    <% if @carehome.physiotherapist? %>
      <p><%= image_tag("user-doctor-solid.svg", class: "icon physiotherapist") %> Physiotherapist</p>
    <% end %>
  </div>

  <div class="carehome-reviews">
    <h3>Reviews</h3>
    <% @reviews.each do |review| %>
      <p><%= review.content %></p>
    <% end %>
  </div>

  <div class="carehome-contact">
    <p><%= @carehome.address %></p>
    <%= button_to 'Contact', action: 'index' %>
  </div>
</div>
