
<% if @carehome.photos.attached? %>
  <div id="carehomeCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carehomeCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#carehomeCarousel" data-slide-to="1"></li>
      <li data-target="#carehomeCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= cl_image_tag @carehome.photos[0].key, crop: :fill, class: "d-block w-100" %>
      </div>

      <% @carehome.photos.drop(1).each do |photo| %>
        <div class="carousel-item">
          <%= cl_image_tag photo.key, crop: :fill, class: "d-block w-100" %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carehomeCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carehomeCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% else %>
  <div id="carehomeCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carehomeCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#carehomeCarousel" data-slide-to="1"></li>
      <li data-target="#carehomeCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1473186578172-c141e6798cf4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmV0aXJlbWVudHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="" class="d-block w-100">
      </div>
        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1533444273691-ebf51af8fd9c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80" alt="" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1513159446162-54eb8bdaa79b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="" class="d-block w-100">
        </div>
        <div class="carousel-item">
          <img src="https://images.unsplash.com/photo-1628836484143-973cf87a36fd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fHJldGlyZW1lbnR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="" class="d-block w-100">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carehomeCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carehomeCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<% end %>
<%# Bootstrap script %>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class="carehome-view">
  <div class="carehome-infos-header">
    <h2><%= @carehome.name %></h2>
    <%= link_to 'Back to list', carehomes_path , class: 'btn-back' %>
  </div>
  <div class="carehome-infos mb-3">
    <div class="carehome-infos-type">
      <p><%= image_tag("house-solid.svg", class: "icon house") %><%= @carehome.types %></p>
      <p><%= image_tag("euro-sign-solid.svg", class: "icon price") %>From <%= @carehome.min_price %> euros/week</p>
      <p><%= image_tag("location-dot-solid.svg", class: "icon location") %><%= @carehome.address %></p>
    </div>
    <div class="carehome-actions">
      <div class="carehome-favorite" data-controller="toggle-favorite">
        <%= link_to toggle_favorite_carehome_path(@carehome), data: { "turbo-method": :post, "action": "toggle-favorite#toggleRating" } do %>
        <div class="carehome-add-favorite" >
          <% unless current_user.nil? %>
            <% if current_user.favorited?(@carehome) %>
              <button type="button" class="btn-favorite">
                <p data-toggle-favorite-target="text">Remove from your favorites</p>
                <%= image_tag("star-solid.svg", id: "favorite-btn", class: "favorited", data: { "toggle-favorite-target": "star"} ) %>
              </button>
            <% else %>
              <button type="button" class="btn-favorite">
                <p data-toggle-favorite-target="text">Add to your favorites</p>
                <%= image_tag("star-solid.svg", id: "favorite-btn", data: { "toggle-favorite-target": "star"} ) %>
              </button>
            <% end %>
          <% end %>
        </div>
        <% end %>
      </div>
      <div>
        <button type="button" class="btn-contact" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" data-controller="modalmessage">Send Message</button>
        <%= render "partials/modalmessage" %>
      </div>
    </div>
  </div>

  <div class="carehome-summary-and-actions">
    <div class="carehome-details-frame col-8">
      <h2>About</h2>
      <p><%= @carehome.description %></p>
    </div>
    <div id="show-map"
      class="col-4 ms-3"
      data-controller="map-view"
      data-map-view-marker-value="<%= @marker.to_json %>"
      data-map-view-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  <div class="carehome-details-frame col-8">
    <div class="carehome-details-header">
      <h2>Amenities</h2>
    </div>
    <div class="carehome-details">
      <p><%= image_tag("dog-solid.svg", class: "icon dog") %> Pets <%= @carehome.pets_allowed? ? 'allowed' : 'not allowed' %></p>
      <p><%= image_tag("wifi-solid.svg", class: "icon wifi") %> <%= @carehome.wifi? ? 'Wifi in room' : 'No Wifi in room' %></p>
      <p><%= image_tag("tv-solid.svg", class: "icon tv") %> <%= @carehome.tv? ? 'Tv in room' : 'No TV in room'%></p>
      <p><%= image_tag("elevator-solid.svg", class: "icon elevator") %> <%= @carehome.lift? ? 'Elevators' : 'No elevators' %></p>
      <p><%= image_tag("wheelchair-solid.svg", class: "icon wheelchair") %> <%= @carehome.wheelchair_access? ? 'Wheelchair acces' : 'No wheelchair access' %></p>
      <p><%= image_tag("car-solid.svg", class: "icon car") %> <%= @carehome.parking? ? 'Parking' : 'No parking'%></p>
      <% if @carehome.activities? %>
        <p><%= image_tag("chess-board-solid.svg", class: "icon chess") %> Activities</p>
      <% end %>
      <% if @carehome.security? %>
        <p><%= image_tag("building-shield-solid.svg", class: "icon building") %> High Security</p>
      <% end %>
      <% if @carehome.smoke_alarm? %>
        <p><%= image_tag("fire-extinguisher-solid.svg", class: "icon extinguisher") %> Fire protection system</p>
      <% end %>
      <% if @carehome.hair_salon? %>
        <p><%= image_tag("scissors-solid.svg", class: "icon scissor") %> Hair salon</p>
      <% end %>
      <% if @carehome.sauna? %>
        <p><%= image_tag("temperature-arrow-up-solid.svg", class: "icon physiotherapist") %> Sauna</p>
      <% end %>
      <% if @carehome.bar? %>
        <p><%= image_tag("mug-saucer-solid.svg", class: "icon bar") %> Bar</p>
      <% end %>
      <% if @carehome.air_conditioning? %>
        <p><%= image_tag("fan-solid.svg", class: "icon fan") %> Air conditioning</p>
      <% end %>
      <% if @carehome.physiotherapist? %>
        <p><%= image_tag("user-doctor-solid.svg", class: "icon physiotherapist") %> Physiotherapist</p>
      <% end %>
    </div>
  </div>

  <% unless @reviews.empty? %>
    <div class="carehome-ratings"
          data-controller="ratings-bar"
          data-ratings-bar-ratings-value="<%= @ratings.to_json %>">
      <h3>Ratings</h3>
        <div class="carehome-rating">
          <p>Rating</p>
            <div class="carehome-rating-progress" data-ratings-bar-target="frame">
              <canvas data-ratings-bar-target="rating"></canvas>
            </div>
        </div>
        <div class="carehome-rating">
          <p>Food</p>
            <div class="carehome-rating-progress">
              <canvas data-ratings-bar-target="food"></canvas>
            </div>
        </div>
        <div class="carehome-rating">
          <p>Privacy</p>
            <div class="carehome-rating-progress">
              <canvas data-ratings-bar-target="privacy"></canvas>
            </div>
        </div>
        <div class="carehome-rating">
          <p>Staff</p>
            <div class="carehome-rating-progress">
              <canvas data-ratings-bar-target="staff"></canvas>
            </div>
        </div>
        <div class="carehome-rating">
          <p>Hygiene</p>
            <div class="carehome-rating-progress">
              <canvas data-ratings-bar-target="hygiene"></canvas>
            </div>
        </div>
        <div class="carehome-rating">
          <p>Atmosphere</p>
            <div class="carehome-rating-progress">
              <canvas data-ratings-bar-target="atmosphere"></canvas>
            </div>
        </div>
    </div>

    <div class="carehome-reviews">
      <h3>Reviews</h3>
        <p><%= @reviews.first.content %></p>
        <p class="carehome-reviews-justify"><%= @reviews.last.user.first_name %></p>
      <%= link_to 'Go to reviews', carehome_reviews_path(@carehome), class: 'submit' %>
    </div>
  <% else %>
    <div class="carehome-no-reviews">
      <h3>No reviews yet</h3>
        <%= link_to 'Leave a first review', carehome_reviews_path(@carehome), class: 'submit' %>
    </div>
  <% end %>

  <% unless @reviews.count <= 1 %>
    <div class="carehome-reviews-preview">
      <% @reviews_last.each do |review| %>
        <p> <%= review.content %> <br>
          <span class="carehome-reviews-justify"><%= review.user.first_name %></span>
        </p>
      <% end %>
    </div>
  <% end %>

  </div>
