<div class="modal" id="reviewModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rate this Carehome</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="carehome-show-card mt-3">
        <%= simple_form_for([carehome, review] , data: { turbo: false } ) do |f| %>
          <%= f.input :content, label: "Your Review"%>
          <div class="flex-container">
            <div class="flex-item">
              <br>
              <%= f.input :rating, collection: (1..5).to_a, label: "Overall Experience" %>
              <br>
              <%= f.input :food, collection: (1..5).to_a, label: "Food" %>
            </div>
            <div class="flex-item">
              <br>
              <%= f.input :privacy, collection: (1..5).to_a, label: "Privacy" %>
              <br>
              <%= f.input :staff, collection: (1..5).to_a, label: "Staff" %>
            </div>
            <div class="flex-item">
              <br>
              <%= f.input :hygiene, collection: (1..5).to_a, label: "Hygiene" %>
              <br>
              <%= f.input :atmosphere, collection: (1..5).to_a, label: "Atmosphere" %>
            </div>
            <br>
          </div>
          <br>
          <%= submit_tag "Save changes", name: nil, class: "btn btn-primary" %>
        <% end %>
        <br>
      </div>

       </div>
    </div>
  </div>
</div>
