<div
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatrooms[0].id %>"
  data-chatroom-subscription-user-id-value="<%= current_user.id %>"
>
  <div class="dashboard-user">
    <div class="dashboard-info">
      <h2>Hi <%= current_user.first_name %>, welcome on your dashboard.</h2>
      <%# <%= link_to 'Edit', '#', class: 'btn-back' %>
    </div>

    <div class="dashboard-favorite">
      <% if current_user.favorites.empty? %>
        <h3>No favorites yet.</h3>
      <% else %>
        <h3>Your favorites</h3>
        <% current_user.favorites_by_type('Carehome').each do |favorite| %>
          <%= link_to carehome_path(favorite.favoritable_id) do %>
              <div class="dashboard-fav">
                <p> <%= favorite.favoritable.name %> </p>
                <% unless favorite.favoritable.photos.empty? %>
                  <%= cl_image_tag favorite.favoritable.photos[0].key, crop: :fill %>
                <% end %>
              </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="dashboard-chatrooms-all">
      <div class="dashboard-chatrrom-all-item">
        <%# <img src="" alt=""> %>
        <p>Carehome 1</p>
        <%# <p>New message</p> %>
      </div>
    </div>

    <div class="dashboard-chatroom" style="overflow:scroll" data-chatroom-subscription-target="scroll">
      <div class="messages" data-chatroom-subscription-target="messages">
        <% @chatrooms[0].messages.each do |message| %>
            <%= render "messages/message", message: message %>
        <% end %>
      </div>
    </div>

      <%= simple_form_for [@chatrooms[0], @message],
        html: { class: "dashboard-input", data: { action: "turbo:submit-end->chatroom-subscription#resetForm" } } do |f|%>
        <div class="send-message-bar">
          <%= f.input :content,
            label: false,placeholder: "Message ##{@chatrooms[0].name}",
            wrapper_html: {class: "dashboard-input-window", id: "dashboard-input-window-id"}
          %>
          <%= f.submit "Send", class: "btn btn-primary" %>
        </div>
      <% end %>
  </div>
</div>
