<div
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatrooms[0].id %>"
>
  <div class="dashboard-user">
    <div class="dashboard-info">
      <h2>Hi <%= current_user.first_name %>, this is your dashboard.</h2>
      <div class="dashboard-info-text">
        <p> <%= current_user.first_name %>
          <%= current_user.last_name %>
        </p> <br>
        <p> <%= current_user.email %> </p>
        <p> <%= current_user.phone_number %> </p>
      </div>
      <%= link_to 'Edit', '#', class: 'btn-back' %>
    </div>

    <div class="dashboard-favorite">
      <% if current_user.favorites.empty? %>
        <h3>No favorites yet.</h3>
      <% else %>
        <h3>Your favorites</h3>
        <% current_user.favorites_by_type('Carehome').each do |favorite| %>
          <%= link_to carehome_path(favorite.favoritable_id) do %>
              <div class="dashboard-fav">
                <p> <%= favorite.favoritable.name %> </p>
                <% unless favorite.favoritable.photos.empty? %>
                  <%= cl_image_tag favorite.favoritable.photos[0].key, crop: :fill %>
                <% end %>
              </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="dashboard-chatrooms-all">
      <p>LIST OF ALL CHATROOMS</p>
       <%= @chatrooms[0].name %>
    </div>

    <div class="dashboard-chatroom">
      <div class="messages">
        <div class="messages" data-chatroom-subscription-target="messages">
          <% @chatrooms[0].messages.each do |message| %>
              <%= render "messages/message", message: message %>
          <% end %>
        </div>
      </div>
    </div>

        <%= simple_form_for [@chatrooms[0], @message],html: {class: "dashboard-input"} do |f|%>
          <%= f.input :content,label: false,placeholder: "Message ##{@chatrooms[0].name}",wrapper_html: {class: "dashboard-input-window"}%>
        <%= f.submit "Send", class: "btn btn-primary mb-3" %>
      <% end %>
  </div>
  <div class="messages" data-chatroom-subscription-target="messages">
</div>
