<div class="dashboard-user">
    <div class="dashboard-info">
      <h2>Hi <%= current_user.first_name %>, this is your dashboard.</h2>
      <div class="dashboard-info-text">
        <p> <%= current_user.first_name %>
          <%= current_user.last_name %>
        </p> <br>
        <p> <%= current_user.email %> </p>
        <p> <%= current_user.phone_number %> </p>
      </div>
      <%= link_to 'Edit', '#', class: 'btn-back' %>
    </div>

    <div class="dashboard-favorite">
      <% if current_user.favorites.empty? %>
        <h3>No favorites yet.</h3>
      <% else %>
        <h3>Your favorites</h3>
        <% current_user.favorites_by_type('Carehome').each do |favorite| %>
          <%= link_to carehome_path(favorite.favoritable_id) do %>
              <div class="dashboard-fav">
                <p> <%= favorite.favoritable.name %> </p>
                <% unless favorite.favoritable.photos.empty? %>
                  <%= cl_image_tag favorite.favoritable.photos[0].key, crop: :fill %>
                <% end %>
              </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="dashboard-chatrooms-all">
      <p>LIST OF ALL CHATROOMS</p>
      <p>Lorem ipsumDodit velit iure soluta impedit excepturi non libero perspiciatis suscipit sequi dignissimos? Sint repudiandae aliquam saepe doloremque, esse, officiis ipsam quae quas, aperiam dolore illo sunt. Maiores voluptate vel ipsa dolores qui exercitationem nostrum quidem autem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, officia tempore illum dignissimos nesciunt saepe odio. Officiis quibusdam ut optio soluta eaque odio sed saepe vel distinctio perspiciatis eum, deleniti sit? Libero harum neque eligendi quidem sed eveniet esse mollitia quam voluptatibus laborum architecto nisi, facilis consequuntur officiis. Ducimus animi ipsa facere quos odit quibusdam eligendi perspiciatis mollitia exercitationem beatae laborum recusandae quas similique fuga, repudiandae est doloribus veniam! Illo temporibus facilis expedita iure blanditiis perferendis doloremque et fugit accusamus suscipit! Facilis corrupti possimus dolore accusantium veniam cupiditate hic voluptas delectus doloribus reprehenderit, laudantium aspernatur cum natus necessitatibus nam aperiam, sit doloremque, maxime minima voluptates eveniet! Quod dicta repellendus numquam quidem explicabo officia, atque aperiam hic ad quo modi impedit suscipit iste eligendi consequuntur quaerat nostrum, fugiat nihil nulla vero ullam! Illum architecto ipsa soluta tempora expedita assumenda eos a! Beatae hic maxime temporibus assumenda minima eaque maiores, accusantium, ducimus, nulla ab consectetur mollitia ipsa harum. Sapiente ut necessitatibus, quae, veniam porro vitae fugit voluptatibus, illo similique debitis eaque natus et quasi asperiores sunt tempora iusto optio dolore nobis? Earum deleniti blanditiis rem animi beatae, distinctio officiis, quisquam quia doloremque, iste autem atque magni! Ab itaque eius temporibus quis similique ipsam a sit cum, provident sunt aliquid architecto quibusdam pariatur vero enim delectus totam ad? Quia deserunt voluptatibus amet voluptates quisquam alias, nisi nostrum suscipit eveniet adipisci enim deleniti reprehenderit, minus iusto repellat beatae ea esse, placeat sed iure vitae obcaecati! Explicabo esse libero tempora? Temporibus debitis laudantium sapiente vitae. </p>
    </div>

    <div class="dashboard-chatroom">
      <p>CHATROOM</p>
    </div>

    <div class="dashboard-input">
      <div class="dashboard-input-window">
        <p>my message ...</p>
      </div>
      <%= link_to 'Send', '#', class: 'submit' %>
    </div>
</div>
