<div class="container">

  <div class="carehome-infos">
    <h2><%= @carehome.name %> <p class="carehome-infos-type"></p></h2>
    <%= link_to 'Back to list', url_for(:back), class: 'btn-back' %>
  </div>

  <h5><%= pluralize @carehome.reviews.size, "Review" %></h5>
  <div>
    <% @carehome.reviews.each do |review| %>
    <%= image_tag review.user.image_url, class: "avatar" %>
    <div class="card-product">
      <div class="card-product-infos">
      <%= review.user.first_name %>
      <%= review.user.last_name %>
      <li><i><%= review.content %></i>
        <i><%= review.rating %></i>
      </li>
      </div>
    </div>
    <%end%>
  </div>
</div>
