<div class="container">

  <div class="carehome-infos-header-review">
    <h2><%= @carehome.name %></h2>
    <div class="carehome-no-reviews">
      <%# <%= link_to 'Write review !', new_carehome_review_path(@carehome), class: 'submit', data: { turbo: false } %>
    </div>

        <div class="button-filter">
          <button type="button" class="btn btn-primary submit filter", data: { turbo: false } data-bs-toggle="modal" data-bs-target="#reviewModal" data-controller="modalfilters"><p>Leave a Review</p>
          </button>
          <%= render "partials/modalreview", carehome: @carehome, review: @review%>
        </div>

    <div class="move-back-btn">
      <%= link_to 'Back to Carehome', carehomes_path , class: 'btn-back' %>
    </div>

    <div class="space-between-btn">
      <h5 class="blue"><%= pluralize @carehome.reviews.size, "Review" %></h5>
    </div>

    <div>
      <% @carehome.reviews.each do |review| %>

        <div class="card-product">
          <%= image_tag review.user.image_url, class: "avatar" %>
          <div class="card-product-infos">
            <b><%= review.user.first_name %>
            <%= review.user.last_name %> </b><br>
            <em class="small-grey"><%= review.created_at.strftime("%B %d, %Y") %></em><br>

            <div class="small-rating-bar">
              <div class="carehome-ratings-small"
                data-controller="review"
                data-review-ratings-value="<%= review.rating %>">
                <div class="carehome-rating-small">
                  <p>Overall Experience</p>
                  <div class="carehome-rating-progress" data-review-target="frame">
                    <canvas data-review-target="rating"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <i><%= review.content %></i>
            <%# <i><%= review.rating %></i>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>
