<!-- Large modal -->
<%# <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> %>
<%#
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
 %>

      <div class="carehome-show-card mt-3">
        <h4>Rate this Carehome</h4>
        <%= simple_form_for([@carehome, @review]) do |f| %>
          <%= f.input :content, label: "Leave a Review"%>
          <div class="flex-container">
            <div class="flex-item">
              <br>
              <%= f.input :rating, collection: (1..5).to_a, label: "Rate your Carehome" %>
              <br>
              <%= f.input :food, collection: (1..5).to_a, label: "Rate the food in the Carehome" %>
            </div>
            <div class="flex-item">
              <br>
              <%= f.input :privacy, collection: (1..5).to_a, label: "Rate the privacy in the Carehome" %>
              <br>
              <%= f.input :staff, collection: (1..5).to_a, label: "Rate the staff in the Carehome" %>
            </div>
            <div class="flex-item">
              <br>
              <%= f.input :hygiene, collection: (1..5).to_a, label: "Rate the hygiene in the Carehome" %>
              <br>
              <%= f.input :atmosphere, collection: (1..5).to_a, label: "Rate the atmosphere in the Carehome" %>
            </div>
            <br>
          </div>
          <br>
          <%= f.submit  "Send your review"%>
        <% end %>
        <br>
      </div>


<div class="col">
            <div class="box box-green box-example-pill">
              <div class="box-header">Pill Rating</div>
              <div class="box-body">
                <select id="example-pill" name="rating" autocomplete="off">
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                  <option value="D">D</option>
                  <option value="E">E</option>
                  <option value="F">F</option>
                </select>
              </div>
            </div>
          </div>






<%#

    </div>
  </div>
</div> %>
