<!-- Large modal -->
<%# <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button> %>
<%#
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
 %>
<div class="container">
      <div class="carehome-show-card mt-3">
        <h4>Rate this Carehome</h4>
        <%= simple_form_for([@carehome, @review]) do |f| %>
          <%= f.input :content, label: "Leave a Review"%>
          <div class="flex-container">
            <div class="flex-item">
              <br>
              <%= f.input :rating, collection: (1..5).to_a, label: "Overall Experience" %>
              <br>
              <%= f.input :food, collection: (1..5).to_a, label: "Food" %>
            </div>
            <div class="flex-item">
              <br>
              <%= f.input :privacy, collection: (1..5).to_a, label: "Privacy" %>
              <br>
              <%= f.input :staff, collection: (1..5).to_a, label: "Staff" %>
            </div>
            <div class="flex-item">
              <br>
              <%= f.input :hygiene, collection: (1..5).to_a, label: "Hygiene" %>
              <br>
              <%= f.input :atmosphere, collection: (1..5).to_a, label: "Atmosphere" %>
            </div>
            <br>
          </div>
          <br>
          <%= f.submit  "Send your review"%>
        <% end %>
        <br>
      </div>
</div>




<%#

    </div>
  </div>
</div> %>
